.player img {margin:auto !important; display: block !important;}
.enemy img {margin:auto; display: block;}



#logbox h1 span {background-color: black; color: white;}

#logbox h1 {padding: 3px; margin:0px;}

body {background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);}

.debug-menu {background-color: rgba(255, 255, 255, 0.479);}

.maingame {background-image: url("https://github.com/mattyjacks/fantasyfightersim/raw/main/examples/images/00003-1253253067-castle%20backgr___.png?raw=true");
    background-size: cover; height: 700px; min-width: 400px; max-width: 1000px; border:solid lightblue 3px;}


.credits {background:azure; float: right; border: lightblue dashed 5px; padding:10px;}

.pressedbutton {color:white; background-color: grey;}

@keyframes shake {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  
  .shake {
    animation: shake 5s infinite;
  }

  .attacking {
    animation: animAttackRight 1s; transition:.5s;
  }

@keyframes animAttackRight {
    0% {transform: translate(0px, 0px) rotate(0deg);}
    50% {transform: translate(150px, 0px) rotate(20deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
  }
  .enemyattacking {
    animation: animAttackLeft 1s !important; transition:.5s;
  }

  @keyframes animAttackLeft {
    0% {transform: translate(0px, 0px) rotate(0deg);}
    50% {transform: translate(-150px, 0px) rotate(-20deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
  }

  .enemydead {transform: rotate(180deg); opacity: 0.5; transition: 1s;}

.player {transition: 0.5s;}

  .enemy:not(.enemydead) {animation: shake 3s infinite;}


  @keyframes rainbow {
    0% {
      color: red;
    }
    20% {
      color: orange;
    }
    40% {
      color: yellow;
    }
    60% {
      color: green;
    }
    80% {
      color: blue;
    }
    100% {
      color: red;
    }
  }
  
  .rainbowtext {
    animation: rainbow 5s linear infinite;
text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
               font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }